<div class="container">
  <h1>Welcome to Anon Blog!</h1>
  <a href='/sign_up'>Sign Up</a>
  <p></p>

  <table>
    <ul>
      <form name='input' action='/log_in' method='POST'>
        <li>Username:<input type='text' name='user'></li>
        <li>Password:<input type='password' name='password'></li>
        <input type='submit' value='Log In'>
      </form>
    </ul>

  </table>
</div>