<div class="container">
  <h1>Anon Blog</h1>

  <form action="/new_post" method="post">
    Title: <input type="text" name="title"><br>
    <textarea name="post" rows="12" cols="65">
      Create a new post...
    </textarea>
    <input type="submit" value="Submit">
  </form>

</div>
